{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class ='text-center pt-5'>Bienvenue sur mon application de gestion</h1>
    {#le nom est {{leNom}}
    <ul>
        {% for leNom in lesNoms%}
            <li> {{leNom|upper}} </li>
        {% endfor %}
        {% if age > 18 %}
            Vous êtes majeur
        {% else %}
            Vous êtes mineur
        {% endif %}
    </ul>#}
    
{% endblock %}
